<!DOCTYPE html>
<html>

<head>
    <title>Team Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/team/team.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/event/eventmenu.css">
    <link rel='stylesheet' type="text/css" href='stylesheet/footer/footer.css'>
    <link rel='stylesheet' type="text/css" href='stylesheet/team/footer.css'>
</head>

<body>

    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">i</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <a href="/register" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>


        <div id="cld10c">
            <div id="cld10">
                <a href="/indieunplugged" id="link6">Indie</a>
            </div>
        </div>


        <div id="cld11c">
            <div id="cld11">
                <a href="/thundermarch" id="link6">Thundermarch</a>
            </div>
        </div>

    </div>

    <div class="background"></div>
    <div class="team">
        <div class="circle15" style="background-color: rgb(187, 138, 31); position: absolute; top:12vw; left: 10vw;"> </div>
        <div class="circle33" id="director" style="background-color: rgb(179, 135, 41); position: absolute; top:17vw; left: 25vw;"> </div>
        <div class="circle20" style="background-color: rgb(189, 127, 35); position: absolute; top:7vw; left: 55vw;"> </div>
        <div class="circle15" style="background-color: rgb(233, 145, 73); position: absolute; top:32vw; left: 60vw;"> </div>
        <div class="circle30" id="patron" style="background-color: rgb(179, 81, 25); position: absolute; top:57vw; left: 57vw;"> </div>
        <div class="circle30" id="convener1" style="background-color: rgb(235, 138, 74); position: absolute; top:82vw; left: 35vw;"> </div>
        <div class="circle10" style="background-color: rgb(121, 59, 31); position: absolute; top:38vw; left: 10vw;"> </div>
        <div class="circle12" style="background-color: rgb(190, 149, 73); position: absolute; top:50vw; left: 45vw;"> </div>
        <div class="circle15" style="background-color: rgb(105, 99, 43); position: absolute; top:49vw; left: 20vw;"> </div>
        <div class="circle10" style="background-color: rgb(167, 112, 11); position: absolute; top:88vw; left: 70vw;"> </div>
        <div class="circle12" style="background-color: rgb(212, 80, 47); position: absolute; top:99vw; left: 65vw;"> </div>
        <div class="circle14" style="background-color: rgb(129, 104, 33); position: absolute; top:110vw; left: 55vw;"> </div>
        <div class="circle15" style="background-color: rgb(194, 122, 41); position: absolute; top:102vw; left: 22vw;"> </div>
        <div class="circle18" style="background-color: rgb(223, 155, 91); position: absolute; top:113vw; left: 35vw;"> </div>
        <div class="circle33" id="convener2" style="background-color: aqua; position: absolute; top:120vw; left: 4vw;"> </div>
        <div class="circle33" id="coordinator" style="background-color: aqua; position: absolute; top:120vw; left: 62vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:135vw; left: 46vw;"> </div>
        <div class="circle15" style="background-color: aqua; position: absolute; top:148vw; left: 45vw;"> </div>
        <div class="circle33" id="marketing" style="background-color: aqua; position: absolute; top:165vw; left: 40vw;"> </div>
        <div class="circle12" style="background-color: aqua; position: absolute; top:164vw; left: 29vw;"> </div>
        <div class="circle14" style="background-color: aqua; position: absolute; top:180vw; left: 25vw;"> </div>
        <div class="circle11" style="background-color: aqua; position: absolute; top:162vw; left: 70vw;"> </div>
        <div class="circle13" style="background-color: aqua; position: absolute; top:173vw; left: 75vw;"> </div>
        <div class="circle15" style="background-color: aqua; position: absolute; top:197vw; left: 37vw;"> </div>
        <div class="circle17" style="background-color: aqua; position: absolute; top:191vw; left: 70vw;"> </div>
        <div class="circle20" style="background-color: aqua; position: absolute; top:204vw; left: 53vw;"> </div>
        <div class="circle33" id="content" style="background-color: aqua; position: absolute; top:214vw; left: 22vw;"> </div>
        <div class="circle5" style="background-color: aqua; position: absolute; top:232vw; left: 17vw;"> </div>
        <div class="circle8" style="background-color: aqua; position: absolute; top:237.5vw; left: 16vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:244vw; left: 21vw;"> </div>
        <div class="circle15" style="background-color: aqua; position: absolute; top:248vw; left: 30vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:250vw; left: 46vw;"> </div>
        <div class="circle33" id="pr" style="background-color: aqua; position: absolute; top:244vw; left: 57vw;"> </div>
        <div class="circle33" id="publicity1" style="background-color: aqua; position: absolute; top:270vw; left: 2vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:262vw; left: 25vw;"> </div>
        <div class="circle33" id="publicity2" style="background-color: aqua; position: absolute; top:289vw; left: 45.5vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:290vw; left: 35vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:277vw; left: 62vw;"> </div>
        <div class="circle15" style="background-color: aqua; position: absolute; top:270vw; left: 40vw;"> </div>
        <div class="circle24" id="design1" style="background-color: aqua; position: absolute; top:315vw; left: 4vw;"> </div>
        <div class="circle20" id="design2" style="background-color: aqua; position: absolute; top:329.7vw; left: 27vw;"> </div>
        <div class="circle7" style="background-color: aqua; position: absolute; top:300vw; left: 33vw;"> </div>
        <div class="circle10" style="background-color: aqua; position: absolute; top:307vw; left: 27.5vw;"> </div>
        <div class="circle6" style="background-color: aqua; position: absolute; top:315vw; left: 36vw;"> </div>
        <div class="circle4" style="background-color: aqua; position: absolute; top:321vw; left: 41vw;"> </div>
        <div class="circle9" style="background-color: aqua; position: absolute; top:328vw; left: 49vw;"> </div>
        <div class="circle5" style="background-color: aqua; position: absolute; top:325vw; left: 45vw;"> </div>
        <div class="circle13" id="web1" style="background-color: aqua; position: absolute; top:325vw; left: 61vw;"> </div>
        <div class="circle16" id="web2" style="background-color: aqua; position: absolute; top:337vw; left: 50vw;"> </div>
        <div class="circle15" id="web3" style="background-color: aqua; position: absolute; top:321vw; left: 76vw;"> </div>
        <div class="circle24" id="web4" style="background-color: aqua; position: absolute; top:337vw; left: 67vw;"> </div>
        <div class="circle13" id="web5" style="background-color: aqua; position: absolute; top:354vw; left: 56vw;"> </div>
        <div class="circle15" id="web6" style="background-color: aqua; position: absolute; top:362vw; left: 68vw;"> </div>
        <div class="circle13" id="web7" style="background-color: aqua; position: absolute; top:371vw; left: 83vw;"> </div>
        <div class="circle15" id="web8" style="background-color: aqua; position: absolute; top:351.5vw; left: 40vw;"> </div>
        <div class="circle24" id="web9" style="background-color: aqua; position: absolute; top:368vw; left: 44vw;"> </div>
        <div class="circle13" id="web10" style="background-color: aqua; position: absolute; top:365vw; left: 30vw;"> </div>
        <div class="circle15" id="web11" style="background-color: aqua; position: absolute; top:379vw; left: 29vw;"> </div>
        <div class="circle15" id="web12" style="background-color: aqua; position: absolute; top:378vw; left: 69vw;"> </div>
        <div class="circle18" id="web13" style="background-color: aqua; position: absolute; top:349.2vw; left: 13.5vw;"> </div>
        <div class="circle15" id="web14" style="background-color: aqua; position: absolute; top:369vw; left: 14vw;"> </div>



    </div>

    <footer class="footer-distributed">

        <div class="footer-left">
            <a href='/'><img src='/image/menu/logo.png' style="width: 100%;"></a>
        </div>

        <div class="footer-center">
            <h3>Quick Links</h3>
            <ul style="list-style:none;" class="footer-links">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/team">Contact</a></li>
                <li><a href="/reachus">Reach Us</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a href="/campus">
                    <h3>Campus Ambassador</i>
                    </h3>
                </a>
            </div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/incandescence.nits"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/incandnits?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCb_0C06vYP674tyu50o7-Fg"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/incandescence.nits/"><i class="fab fa-instagram"></i></a>
                <a href="mailto:incandescencenitsilchar@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/menu/menu.js"></script>
    <script src="js/team/team.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(window).resize(function(e) {
                adaptMenu();
                adaptContent();
            });
            adaptMenu();
            adaptContent();
            document.getElementById('loader').remove();
        });
    </script>
</body>

</html>